.about {
  margin: 0px auto 50px;
}

#what-we-do-summary {
  min-width: 200px;
  max-width: 70vw;
  margin: 0 auto;
}

.about-text {
  flex-flow: wrap;
}

.about-text div {
  min-width: 200px;
  max-width: 20vw;
  margin: 10px;
}

.about-text img {
  width: 100%;
}

.about-text p {
  margin: 20px;
}

.who-we-are { background-color: #eee;}

.who-we-are img {
  min-width: 500px;
  max-width: 50vw;
  margin-bottom: 100px;
}