<<<<<<< HEAD
@font-face {
  font-family: Warsaw Gothic;
  src: url("/WarsawGothic.otf") format("opentype");
}

.content {
  padding-top: 10%;
}

#title-banner {
  background-image: url(images/banner.jpg);
  width: 100vw;
}

#title-img {
  font-family: 'Warsaw Gothic';
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 7em;
}

.entry-text-container {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin-left: 20vw;
  margin-right: 5vw;
}

.entry-textbox {
  padding: 20px;
  font-family: 'Open Sans','Century Gothic', Helvetica;
  text-align: center;
  color: white;
  margin: 20px auto;
}

#description { 
  background-color: rgba(173, 97, 30, .7); 
  vertical-align: middle;
}

#learn-more { background-color: rgba(146, 173, 166, .7); }
#learn-more img { width: 100%;}

#join-us { background-color: rgba(146, 173, 166, .7); }
#join-us img { width: 100%;}

#images {
  margin-top: 5px;
  align-items: center;
  margin-right: 3cm;
  max-width: 50vw;
  display: inline-block;
}

#play {
  width: 160px;
  height: 160px;
  background-image: url(images/play.png);
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
  top: 160px;
}

#schedule-form {
  margin-top: 20px;
  width: 45vw;
  background-color: rgba(173,97,30,.9);
=======
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Warsaw Gothic';
  text-transform: uppercase;
  font-size: 3em;
}

@media screen and (max-width: 800px) {
  body {
    color:#000;
  }
}

html {
  height: 100%;
}

body {
  text-align: center;
  width: auto;
  font-family: 'Open Sans', 'Century Gothic', Helvetica;
  font-weight: 300;
  color: #eee;
  /*background-color: #333;*/
}

#more a {
  text-decoration: none;
  color: #eee;
}

body a {
  text-decoration: none;
  color: #B56012;
}

nav {
  background-color: #333;
  width: 100%;
  height: 100px;
  font-family: 'Warsaw Gothic';
  font-size: 1.5em;
  color: #eee;
  text-transform: uppercase;
}

#header-container {
  position: fixed;
  top: 0px;
  width: 100vw;
}

header {
  text-align: center;
  background-color: #333;
  height: 100px;
  margin: 0 auto;
}

#logo {
  width: 70px;
  margin: 0 30px;
  margin-top: 20px;
}

#banner {
  text-align: center;
  width: 100vw;
  height: 100vh;
  opacity: .65;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-bar {
  text-align: center;
  background-color: rgba(173, 97, 30, .75);
  padding: 5px;
}

#banner-bar h1 {
  padding: 25px;
}

#banner-bar p {
  width: 600px;
  margin: 0 auto;
}
@font-face {
    font-family: 'Warsaw Gothic';
    src: url("/WarsawGothic.otf") format("opentype");
}

#title-img {
  font-family: 'Warsaw Gothic';
  color: black;
  position: absolute;
  font-weight: bold;
  top: 110px;
  text-align: left;
  font-size: 5em;
  padding-bottom: 50px;
}

#gallery {
  width: 400px;
}

#gallery img{
  max-width:400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

#title-fade {
  font-family: 'Open Sans', 'Century Gothic', Helvetica;
  color: black;
  text-align: center;
  font-size: 0.2em;
  padding: 20px;
  margin: 20px 0;
  width: 400px;
  background-color: rgba(173, 97, 30, .7);
}

#play {
  width: 160px;
  height: 160px;
  background-image: url(images/play.png);
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
  top: 160px;
}
/*
#more {
  position: absolute;
  top: 475px;
  left: 225px;
  width: 800px;
  height: 300px;
  background-size: 100% auto;
  text-align: center;
  padding: 60px;
}

#more div {
  vertical-align: top;
  display: inline-block;
  padding: 20px 40px;
  margin: 5px;
  height: auto;
  width: 164px;
  background-color: rgba(146, 173, 166, .9);
  font-size: .8em;
}
#more img {
  width: 100px;
}

#more div p {
  margin: 10px;
}*/

#schedule-form {
  position: absolute;
  top: 100px;
  left: 40vw;
  height: 500px;
  background-color: rgba(173,97,30,.9);
>>>>>>> 649e3a568893f170bd54f48d60abc6cca55cd15f
}