.join {
  width: 60vw;
  margin: 0 auto;
  min-height: 65vh;
}

.join-button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background-color: #B56012;
  color: white;
  box-shadow: 2px 2px 5px #333;
}
