.join {
  width: 60vw;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.join div {
  margin: 20px;
}

.join img {
  width: 100%;
}

.join p {
  max-width: 900px;
}

.join-button {
  display: block;
  width: 30vw;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #B56012;
  color: white;
  box-shadow: 2px 2px 5px #333;
}

.join-button:hover {
  background-color: rgb(183, 120, 62); 
}