.officers {
  display: flex; 
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
  max-width: 80vw;
  text-align: center;
}

.officer-card {
  padding: 15px;
}

.officer-photo {
  border-radius: 50%;
  width: 200px;
}

.officer-position {
  color: gray;
}

#team-contact {
  text-align: center;
  margin-bottom: 70px;
}
